@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "a_MachinaOrto";
    src: url("../public/fonts/a_MachinaOrto/a_MachinaOrto.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "a_MachinaOrto";
    src: url("../public/fonts/a_MachinaOrto/a_MachinaOrto.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}